.story{
  width:90%;
  background:	#DCDCDC;
}
.image img{
  width:100%;
}

.image{
  width:92.6%;
  border:5px solid white;
  background-color:#FFF;
  border-radius:5px;
  position:relative;
  left:6%;
}

.timeline{
  width:80%;
  position:relative;
  left:10%;
}

.list{
  width:68%;
  position:relative;
  left:13%;
}

.quote,.more {
  width:68%;
  position:relative;
  left:13%;
}

.who{
  position:relative;
  left:15%;
  font-size:15px;
  color:#778899;
}